/* 

.landing-page-p{
    padding-bottom: 0.4em;
    border-bottom-style: double;
    border-bottom-width: 4px;
    width: 50%;
    padding: 1em;
    margin: 2em auto;
    font-size: 1.6em;
    color: #008283;
    line-height: 1.5em;
}

.form-input label{
    text-align: left;
}

.login-form{
    border: 1px solid #008283;
    padding: 6em 0;
    background: #008283;
    color: #fff;
    text-align: center;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.login-container{
  width: 100%;
      height: 80%;
      margin: 0;
      padding: 0;
}

.login-container form{
  margin-top: 5%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: center;
}

.login-container form label{
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-container form label p{
  margin: 0;
  display: inline-block;
}


#username{
    outline: 0;
    background: #fff;
    width: 100%;
    border: 0;
    padding: .8em;
    font-size: 14px;
}

#username:focus {
}

#password{
    outline: 0;
    background: #fff;
    width: 100%;
    border: 0;
    padding: .8em;
    font-size: 14px;
}

#password:focus {
}

.login-form button{
    text-transform: uppercase;
    outline: 0;
    background: #fff;
    width: 33%;
    border: 0;
    padding: 15px;
    color: #008283;
    font-size: 14px;
    border: 1px solid white;
    cursor: pointer;
}

.login-form button:focus {
    outline: 2px solid #008889;
}

.login-form button:hover{
    transition: 0.3s;
    color: #fff;
    border: 1px solid white;
    background: #008283;
}

.login-form a {
    text-transform: uppercase;
    outline: 0;
    background: #fff;
    border: 0;
    padding: 15px;
    color: #008283;
    font-size: 14px;
    text-decoration: none;
    width: 30%;
    margin-left: 2em;
    border: 1px solid white;

}

.login-form a:focus {
    outline: 2px solid #008889;
}

.login-form a:hover{
    transition: 0.3s;
    color: #fff;
    background: #008283;
    border: 1px solid white;
}

.signed-up{
    padding-bottom: .4em;
    border-bottom-style: double;
    border-bottom-width: 4px;
    width: 30%;
    text-align: center;
    padding: 1em;
    margin: 2em auto;
    font-size: 1.6em;
    line-height: 1.5em;
    display: block;
    color: #008283;
}

main p:nth-child(2) {
    text-align: center;
}

main p:nth-child(3) {
    text-align: center;
}

@media only screen and (max-width: 1366px){
    .login-form{
        width: 60%;
    }

    .form-input {
        padding: 1em .5em;
        width: 44%;
    }

    .landing-page-p{
        padding-bottom: 0.4em;
        border-bottom-style: double;
        border-bottom-width: 4px;
        width: 50%;
        text-align: center;
        padding: 1em;
        margin: 2em auto;
        font-size: 1.6em;
        color: #008283;
        line-height: 1.5em;
    } 
}

@media only screen and (max-width: 480px) {
    .landing-page-p{
        padding: 2em 1em 2em 1em;
        color: #008283;
        background: white;
        margin: 0;
        font-size: 1.65em;
        width: 80%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: auto;
    }

    .login-form{
        padding: 3em 0;
        display: -ms-flexbox;
        display: flex;
         
        width: 80%;
        margin-top: 2em;
    }

    #username{
      outline: 0;
      background: #fff;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
  
    #password{
      outline: 0;
      background: #fff;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
  
    #login-form-buttons {
      display: flex;
      justify-content: center;
    }
  
    #login-form-buttons button{
      text-transform: uppercase;
      outline: 0;
      background: #fff;
      width: 30%;
      border: 0;
      padding: 15px;
      margin-right: 1em;
      color: #008283;
      font-size: 14px;
    }
  
    #login-form-buttons a {
      text-transform: uppercase;
      outline: 0;
      background: #fff;
      border: 0;
      padding: 15px;
      color: #008283;
      font-size: 14px;
      text-decoration: none;
    }

    .form-input{
        width: 100%;
    }

    .signed-up{
        width: 100%;
        color: #008283;
        box-sizing: border-box;
    }
  }
  

  */

.landing-page-container{
    background-color: rgba(139,73,255,.5);
    min-height: 100vh;
    backdrop-filter: blur(.1vh);
    display: flex;
    flex-direction: column;
}

.landing-page-header{
    background-color: transparent;      
    display: flex;
    justify-content: flex-start;
    color: white;
    align-items: center;
}

.landing-page-title{
    font-size: 2.3vh;
    margin-left: 3%;
}

.landing-page-nav{
    margin-left: 2%;
    display: flex;
    flex-basis: 30%;
}

.landing-links{
    font-size: 1.5vh;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: .1vh solid transparent;
    margin: .8vh 3vh 0 3vh ;
    transition: .3s;
    width: max-content;
    cursor: pointer;
}

.landing-links:hover{
    transition: .3s;
    border-bottom: .2vh solid white;
}

.landing-links:focus{
    transition: .3s;
    border-bottom: .2vh solid white;
    outline: none;
}

.landing-page-hero{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 93vh;
}

.landing-page-header{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 9;
    font-size: 7vh;
}

.landing-page-sign-up{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 8;
    font-size: 3vh;
    border-radius: 5vh;
    border: none;
    background-color: #ffca58;
    color: white;
    letter-spacing: .5vh;
    transition: .3s;
}

.landing-page-sign-up:hover{
    transition: .3s;
    transform: scale(1.1);
    box-shadow: 0 0 1vh #ffca58;
}

.landing-page-sign-up:focus{
    outline: none;
    transition: .3s;
    transform: scale(1.1);
    box-shadow: 0 0 1vh #ffca58;
}

.landing-page-features{
    
}

.feature-notes{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
}

.player-search{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 8;
}

.user-account{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
}

.landing-page-inner-container{
    box-sizing: border-box;
    background-color: #8b49ff;
    color: white;
    border-radius: 1vh;
    transition: .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5vh;
}

.landing-page-inner-container:hover{
    transition: .3s;
    transform: scale(1.1);
    box-shadow: 0 0 1vh rgba(255, 202, 88, .5);
}

.landing-page-features-icon{
    flex-basis: 30%;
}

.landing-page-features-text{
    font-size: 1.2vh;
    flex-basis: 70%;
}

.landing-page-line{
    grid-column-start: 10;
    grid-column-end: 10;
    width: 30%;
    grid-row-start: 1;
    grid-row-end: 13;
    margin: 0 auto;
    background-image: linear-gradient(68.2deg, rgba(139,73,255,1)0%, rgba(255,202,88,1) 102.2% );
    border-radius: 4vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: .3s;
}

.note-line{
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 80%;
}

.user-account-line{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 40%;
}

.player-search-line{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 8;
    width: 40%;
} 

.line{
    height: .8vh;
    align-self: center;
}

.player-search-color{
    background: rgb(186,125,187);
}


.note-color{
    background-color: rgb(203,144,163);
}

.user-account-color{
    background: rgb(220,163,139);
}

/* .landin-page-line:hover{
    transition: .3s;
    background-image: linear-gradient(68.2deg, rgba(255,202,88,1)0%, rgba(139,73,255,1)  102.2% );
    background-image:red;
} */