.landing-page-p{
    padding-bottom: 0.4em;
    border-bottom-style: double;
    border-bottom-width: 4px;
    width: 50%;
    text-align: center;
    padding: 1em;
    margin: 2em auto;
    font-size: 1.6em;
    color: #008283;
    line-height: 1.5em;
}

.form-input label{
    text-align: left;
}

.login-form{
    border: 1px solid #008283;
    padding: 6em 0;
    background: #008283;
    color: #fff;
    text-align: center;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-input{
    padding: 1em 0em;
    width: 49%;
}

#username{
    outline: 0;
    background: #fff;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: .8em;
    box-sizing: border-box;
    font-size: 14px;
}

#username:focus {
    outline: 2px solid #008889;
}

#password{
    outline: 0;
    background: #fff;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: .8em;
    box-sizing: border-box;
    font-size: 14px;
}

#password:focus {
    outline: 2px solid #008889;
}

.login-form button{
    text-transform: uppercase;
    outline: 0;
    background: #fff;
    width: 33%;
    border: 0;
    padding: 15px;
    color: #008283;
    font-size: 14px;
    border: 1px solid white;
    cursor: pointer;
}

.login-form button:focus {
    outline: 2px solid #008889;
}

.login-form button:hover{
    transition: 0.3s;
    color: #fff;
    border: 1px solid white;
    background: #008283;
}

.login-form a {
    text-transform: uppercase;
    outline: 0;
    background: #fff;
    border: 0;
    padding: 15px;
    color: #008283;
    font-size: 14px;
    text-decoration: none;
    width: 30%;
    margin-left: 2em;
    border: 1px solid white;

}

.login-form a:focus {
    outline: 2px solid #008889;
}

.login-form a:hover{
    transition: 0.3s;
    color: #fff;
    background: #008283;
    border: 1px solid white;
}

.signed-up{
    padding-bottom: .4em;
    border-bottom-style: double;
    border-bottom-width: 4px;
    width: 30%;
    text-align: center;
    padding: 1em;
    margin: 2em auto;
    font-size: 1.6em;
    line-height: 1.5em;
    display: block;
}

@media only screen and (max-width: 1366px){
    .login-form{
        width: 60%;
    }
}

@media only screen and (max-width: 480px) {
    .landing-page-p{
      padding: 2em 1em 2em 1em;
      color: #008283;
      background: white;
      margin: 0;
      font-size: 1.65em;
      width: 100%;
      box-sizing: border-box;
    }

    .login-form{
      padding: 3em 0;
      display: flex;
      /* flex-direction: column; */
      width: 100%;
    }

    #username{
      outline: 0;
      background: #fff;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
  
    #password{
      outline: 0;
      background: #fff;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
  
    #login-form-buttons {
      display: flex;
      justify-content: center;
    }
  
    #login-form-buttons button{
      text-transform: uppercase;
      outline: 0;
      background: #fff;
      width: 30%;
      border: 0;
      padding: 15px;
      margin-right: 1em;
      color: #008283;
      font-size: 14px;
    }
  
    #login-form-buttons a {
      text-transform: uppercase;
      outline: 0;
      background: #fff;
      border: 0;
      padding: 15px;
      color: #008283;
      font-size: 14px;
      text-decoration: none;
    }

    .form-input{
        width: 100%;
    }

    .signed-up{
        width: 100%;
        color: #008283;
        box-sizing: border-box;
    }
  }
  