.dashboard-user-match-history{
    display: flex;
    flex-direction: row;
    /* flex-basis: 90%; */
    /* height: 5vh; */
    justify-content: center;
}

.user-match{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 90%;
    box-sizing: border-box;
    padding: 2vh;
    background-color: rgba(139,73,255,1);
    color: white;
    border: .1vh solid rgba(255, 255, 255, .5);
    border-radius: 2vh;
    margin: 2vh 0;
    transition: .3s;
}

.user-match:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 1.5vh rgba(54, 52, 52, 0.7));
}

.user-match-time{
    flex-basis: 30%;
    align-self: center;
    justify-self: center;
    font-size: 1.8vh;

}

.outcome{
    flex-basis: 2%;
    height: 3vh;
    align-self: center;
    justify-self: center;
    background-color: red;
    border-radius: 1vh;
}

.user-match-history-right-side{
    display: flex;
    flex-basis: 40%;
    font-size: 1.8vh;
    align-items: center;
    background-color: rgba(255,202,88,1);
    border-radius: 1.8vh;
}

.user-match-history-img-container{
    margin: 0 0 0 -.8vh;
    height: 80%;
    border: .5vh solid rgba(255,202,88,1);
    background-color: rgba(255,202,88,1);
    /* border-left-width: .3vh; */
}

.user-match-history-img{

}

.user-match-history-text{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-champion-name{
    margin: .5vh;
}