.wrapper{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-card{
    height: 100%;
    width: 40%;
    margin-left: 50px;
    /* background-color: blue; */
    background-image: url('../../images/DemacianHeart.jpg');
    position: relative;
}
.card-container{
    display: flex;
    justify-content: center;
    height: 690px;
    width: 90%;
    margin-top: -50px;
}
.left-side-card-container{
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    position: relative;
    width: 40%;
}

.sylas{
    max-width: 100%;
    max-height: 100%;
    background-image: url('../../images/Sylas.jpg');
    /* background-size: contain;
    background-repeat: no-repeat; */
}

.lux{
    max-width: 100%;
    max-height: 100%;
    background-image: url('../../images/lux.jpg');
    /* background-size: contain;
    background-repeat: no-repeat; */
}

.garen {
    max-width: 100%;
    max-height: 100%;
    background-image: url('../../images/garen.jpg');
    /* background-size: 100% 100%;
    background-repeat: no-repeat; */
}

.center-image {
    background-repeat:no-repeat;
    background-position: 10% 40%;
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    /* object-fit: contain; */
}

