.player-match-card-container{
    background-color: rgba(139,73,255, .6);
    color: white;
    border-radius: 2vh;
    margin: 16px 0;
}

.player-match-card {
    padding: 16px 15px ;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    font-size: 1.8vh;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    border-radius: 1.8vh;
    -ms-flex-pack: center;
    justify-content: space-evenly;

}

/* Move to own css file  */
.item{
    border-radius: 50%;
    height: 4vh;
    width: 4vh;
    margin: .3vh;
}

.summoner-spell{
    border-radius: 50%;
    height: 4vh;
    width: 4vh;
    margin: .3vh;
}

.enemy-team{
    background-color: #ff6347;
}

.friendly{
    /* background-color: #47ffbf; */
}