.player-matches-container{
    width: 94.4%;
    margin: auto;
}

#playerSearch:focus{
    outline: 2px solid #008889;
}

#player-search-form div{
  outline: 0;
  background: #fff;
  border: 0;
  padding: .2em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #00cdcf;
  display: -ms-flexbox;
  display: flex;
  width: 63.4%;
}

#player-search-form div label{
  color: white;
  padding: 1em;
  font-size: 1.2em;
}

#player-search-form div input {
  outline: 0;
  background: #fff;
  border: 0;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;	
}

.player-matches{
  display: flex;
}

.player-champ{
  text-align: center;
  padding: 1em;
}

.kill-stats{
  padding: 1em;
}
.stats{
    padding: 1em;
}

.player-search-error{
    background: #cc4544;
    color: white;
    padding: 1em;
}

@media only screen and (max-width: 1366px){
    .player-matches-container {
        width: 100%;
        margin: auto;
    }
    #player-search-form div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #player-search-form input {
        width: 45%;
    }
    .player-matches {
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

@media only screen and (max-width: 480px){
    .player-matches{
        display: block;
    }
    .player-matches-container {
        width: 100%;
        margin: auto;
    }
    #player-search-form div{
        display: block;
        width: 100%;
        padding: 0;
    }
    .match-card{
        height: auto;
        display: block;
        text-align: center;
    }
    .kill-stats{
        padding: 0;
    }
    .stats{
        padding:0;
    }
    #player-search-form input {
        width: 100%;
    }
    #player-search-form{
        background: #00cccd;
        text-align: center;
        padding-bottom: .1em;
      }
    
      #player-search-form div label{
        padding: 1em;
        padding-bottom: 0.4em;
        border-bottom-style: double;
        border-bottom-width: 4px;
        font-size: 1.5em;
        line-height: 1.5em;
        text-transform: uppercase;
        color: white;
      }
    
      #playerSearch{
        outline: 0;
        background: #fff;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 14px;
      }
}

