.sign-up-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(0, 0,0, .5);
    backdrop-filter: blur(.5vh);
    z-index: 1;
}

.sign-up-h1{
    position: relative;
    background: white;
    z-index: 99;
    height: 5vh;
}