#champion-search-container{
  width: 60%;
  margin: auto;
  padding: 2em;
}

#search-champ-container{
  outline: 0;
  background: #fff;
  border: 0;
  padding: .2em;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #008283;
  display: flex;
}

#search-champ-container label{
  color: white;
  padding: 1em;
  font-size: 1.2em;
}

#search-bar{
  outline: 0;
  background: #fff;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#search-bar:focus{
  outline: 2px solid #00cdcf;
}

.champ-container{
    display: inline-block;
    height: 420px;
    overflow: auto;
  }

.search-bar{
    display: block;
}

@media only screen and (max-width: 480px) {
    #search-champ-container{
        background: #008283;
        text-align: center;
        padding-bottom: .1em;
        display: block;
      }
    
      #search-champ-container label {
        padding: 1em;
        padding-bottom: 0.4em;
        border-bottom-style: double;
        border-bottom-width: 4px;
        font-size: 1.5em;
        line-height: 1.5em;
        text-transform: uppercase;
        color: white;
      }
    
      #search-bar{
        outline: 0;
        background: #fff;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
      }

      #champion-search-container{
        width: 100%;
        margin: auto;
        padding: 0;
      }
      .champ-container{
          height: 215px;
      }
}