.dashboard{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    min-height: 93vh;
    /* background: rgba(0,0,0,.2); */
    /* backdrop-filter: blur(.8vh); */
}

.backdrop-wrapper-orange{
    filter: drop-shadow(0vh .7vh 1.5vh rgba(255,202,88,.5));
}

.flex{
    display: flex;
}

.dashboard-left-side{
    flex-basis: 75%;
    /* border: 1px solid red; */
    border-right: .2vh solid rgba(255, 255, 255, 0.3);
}

.dashboard-right-side{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;

    /* border: 1px solid green; */
}

.left-container-width{
    width: 90%;
    margin: 3.5vh auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-container-title{
    color: white;
}

.left-container-title{
    flex-basis: 80%;
    font-size: 3.5vh;
}

.left-container-buttons{
    flex-basis: 20%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.three-dots-container{
    display: flex;
    flex-direction: column;
}

.dot{
    height: .5vh;
    width: .5vh;
    border-radius: 50%;
    background: white;
    margin: .2vh 3vh;
}

.left-container-button{
    box-sizing: border-box;
    font-size: 2vh;
    padding: 1vh 1.2vh;
    background: rgba(255,202,88,1);
    border-radius: 1.5vh;
    color: white;
    border: none;
}

.left-container-search{
    color: white;
    display: flex;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: 1vh 0vh 1vh 3vh;
    background-color: transparent;
    border: none;
    flex-basis: 20%;
    justify-content: flex-end;
    margin-right: 1.5vh;
}

.left-container-search-text{
    font-size: 1.3vh;
}

.left-container-search-bar{
    height: 7vh;
    margin-top: 0;
    display: flex;
    border-radius: 1.5vh;
}

.half-border{
    height: 50%;
    border-right: .1vh solid rgba(255, 255, 255, 0.6);
    margin-left: 2vh;
}

.left-container-search-input{
    display: flex;
    align-items: center;
    flex-basis: 50%;
    /* border: 1px solid white; */
}

.searc-input-icon{
    
}


.left-container-search-input-text{
    flex-basis: 90%;    
    font-size: 1.8vh;
    padding: 1.3vh;
    border-width: .2vh;
    border: none;
    background-color: transparent;
    color: white;
    padding-top: .8vh;
    padding-bottom: .5vh;
    transition: .3s;
}

.left-container-search-input-text::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.left-container-search-input-text:focus{
    outline-width: 0;
    border-bottom: .1vh solid rgba(255,202,88,1);
    /* outline-style: solid; */
    padding-left: 2.5vh;
}

.search-icon{
    font-size: 2vh;
    transition: .4s;
    cursor: pointer;
}

/* this will be used in react component */
.search-icon:hover{
    font-size: 2.5vh;
}

.left-container-search-people{
    height: 100%;
    flex-basis: 30%;
    display: flex;
    align-items: center;

}

.add-button{
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    background-color: rgba(255,202,88,1);
    border:none;
    border-radius: 50%;
    height: 4vh;
    width: 4vh;
    transition: .3s;
}

.default-button-size{
    font-size: 1.4vh;
}

.add-button:focus{
    transition: .3s;
    transform: rotate(90deg);
}

.players{
    margin-left: 1vh;
    display: flex;
    justify-content: center;
    width: 16vh
}

.search-img{
    margin: 0 0 0 -1vh;
}

.player-followers{
    font-size: 1.8vh;
    font-weight: bold;
    color: white;
}

.dashboard-match-history-title{
    font-size: 3vh;
    width: 90%;
    margin-left: 2.4vh;
    color: white;
}

@media screen and (max-width: 1024px){
    .dashboard{
        flex-direction: column;
    }

    .dashboard-title{
        display: none;
    }

    .dashboard-logo-container{
        flex-basis: 7%;
    }

    .carrot-container{
        margin-left: 0;
    }

    header{
        box-sizing: border-box;
        justify-content: space-between;
    }

    .left-container-width{
        margin: 1.5vh auto;
        width: 95%;
    }

    .user-name-container{
        flex-basis: 5%;
        margin-right: 1vh;
    }
    
    .user-name{
        font-size: .8vh;
    }

    .rank{
        font-size: .8vh;
    }

    .add-button{
        width: 5vh;
    }
}

@media screen and (max-width: 600px){
    .dashboard{
        flex-direction: column;
    }

    .left-container-search-bar{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    header{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .dashboard-logo-container{
        display: none;
    }

    .user-name-container{
        display: none;
    }

    .user-image-container{
        margin: .2vh .2vh .2vh .6vh;
    }

    .left-container-search-people{
        flex-basis: 5%;
    }

    .left-container-button{
        font-size: initial;
    }

    .left-container-search{
        padding: 1vh 0vh 1vh 1.5vh;
    }

    .left-container-search-input{
        box-sizing: border-box;
    }
    

    .left-container-search-input-text{
        padding: 0;
        padding-top: .8vh;
        padding-bottom: .5vh;
    }

    .left-container-search-input-text:focus {
        padding-left: 0;
    }

    .icon-margin-right{
        margin-right: .5vh;
    }

    .icon-margin-left{
        margin-left: .5vh;
    }

    .half-border{
        margin-left: .7vh;
    }

    .search-icon{
        display: none;
    }

    .players{
        display: none;
    }

    .player-followers{
        display: none;
    }

    .test > .note{
        display: block;
    }
    /* .input-wrap! > input[type=text] */
}