html{
  height: 100%;
  /* background: #f2f2f2; */

}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

#root{
  height: 100%;
}

label{
  display: block;
}

.main-body{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.main-content{
  display: flex;
  align-items: center;
  flex-flow: wrap;
}

.form-title{
  width: 100%;
}

.validation-error{
  color: red;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}

