html{
  /* height: 100%; */
  min-height: 100vh;
  /* background: #f2f2f2; */
  background-image: linear-gradient( 68.2deg,  rgba(255,202,88,1) 0%, rgba(139,73,255,1) 100.2% );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.main-bg{
  background-color: rgba(139,73,255,1);
}

p{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

#root{
  height: 100%;
}

.icon-margin-left{
  margin-left: 1.5vh;
}

.icon-margin-right{
  margin-right: 1.5vh;
}

.small-icon-size{
  font-size: 1.4vh !important;
}

label{
  display: block;
}

.main-body{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.main-content{
  min-height: 100vh;
  width: 100vw;
  /* background: red; */
}

.form-title{
  width: 100%;
}

.validation-error{
  color: red;
  width: 100%;
}

.demo-players{
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  flex-direction: column;
  align-items: center;
}

.demo-players section{
  color: white;
  margin-top: 1em;
  background: #008283;
  padding: 1em;
}

.demo-players section ul{
  list-style-type: square;
}

@media only screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}

