html{
  height: 100%;
  /* background: #f2f2f2; */

}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

#root{
  height: 100%;
}

label{
  display: block;
}

.main-body{
  min-height: 1500px;
}

main{
  display: flex;
  align-items: center;
  flex-flow: wrap;
}

#champion-search-container{
  width: 60%;
  margin: auto;
  padding: 2em;
}

.note-container{
  height: 450px;
  width: 20%;
  margin-right: 5%;
}

.note-container form{
  height: 100%;
  background: #00cccd;
}

.note-container form div label{
  text-align: center;
  color: white;
  padding: .8em;
  font-size: 1.2em;
}
.note-container form div textarea {
  width: 80%;
  display: block;
  margin: auto;
  height: 340px;
}
.note-container form button {
  display: block;
  margin: .5em auto;
  padding: .6em 2em;
  font-size: 1em;
  background-color: #009a9c;
  border: none;
  color: #fff !important;
}

#search-champ-container{
  outline: 0;
  background: #fff;
  border: 0;
  padding: .2em;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #00cdcf;
  display: flex;
}

#search-champ-container label{
  color: white;
  padding: 1em;
  font-size: 1.2em;
}

#search-bar{
  outline: 0;
  background: #fff;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}



/* .kill-stats p{
  padding-bottom: 0.4em; 
border-bottom-style: double;
border-bottom-width: 4px;
width: 30%;
text-align: center;
padding: 1em; 
margin: 2em auto;
font-size: 1.6em;
line-height: 1.5em;
} */


/* .stats p{
    padding-bottom: 0.4em; 
    border-bottom-style: none;
    border-bottom-width: 4px;
    width: 30%;
    text-align: center;
    padding: 1em; 
    margin: 2em auto;
    font-size: 1.6em;
    line-height: 1.5em;
} */

/* Dashboar */

/* main{
  display: flex;
  align-items: center;
  flex-flow: wrap;
} */

/* mainDivchild
div{
  width: 60%;
  margin: auto;
  padding: 2em;
}

.note-container{
  height: 450px;
  width: 20%;
  margin-right: 5%;
}

.note-container form{
  height: 100%;
  background: #00cccd;
}

.note-container form div label{
  text-align: center;
  color: white;
  padding: .8em;
}

.note-container form div textarea {
    width: 80%;
    display: block;
    margin: auto;
    height: 340px;
}

.note-container form button {
  display: block;
  margin: .5em auto;
  padding: .6em 2em;
  font-size: 1em;
  background-color: #009a9c;
  border: none;
  color: #fff !important;
} */

/* Dashboar */

/* main{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
} */

.validation-error{
  color: red;
}


.champion-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 175px;
  border-radius: 5px;
  background: #00cdcf;
  margin: 5px;
  vertical-align: top;
  border: none;
  color: #fff;
}

.champion-card img{
  border-radius: 50%;
  padding: .2em;
}

.champion-card-flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.champion-card-container{
  padding: 5px
}

.clicked{
   transition: 0.5s;
   background: #cc4544;
}



.user-button{
    background-color: #009a9c;
    border: none;
    color: #fff !important;
}





@media only screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
 
  .user-button{
    padding: .7em;
    width: 70%;
    font-size: 1.5em;
  }

  

}

