#register-form{
    padding: 6em 0;
    background: #008283;
    border: 1px solid #008283;
    color: #fff;
    text-align: center;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#register-form button:focus{
    outline: 2px solid #008889;
}

#register-form button{
    text-transform: uppercase;
    outline: 0;
    background: #fff;
    width: 33%;
    border: 0;
    padding: 15px;
    color: #008283;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid white;
}

#register-form button:hover{
    transition: 0.3s;
    color: #fff;
    background: #008283;
    border: 1px solid white;
}

#register-form a {
    text-transform: uppercase;
    outline: 0;
    background: #fff;
    border: 0;
    padding: 15px;
    color: #008283;
    font-size: 14px;
    text-decoration: none;
    width: 30%;
    margin-left: 2em;
    border: 1px solid white;
}

#register-title{
    padding-bottom: 0.4em;
    border-bottom-style: double;
    border-bottom-width: 4px;
    width: 30%;
    text-align: center;
    padding: 1em;
    margin: 2em auto;
    font-size: 1.6em;
    color: #008283;
    line-height: 1.5em;
}

#register-form a:focus{
    outline: 2px solid #008889;
}

#register-form a:hover{
    transition: 0.3s;
    color: #fff;
    background: #008283;
    border: 1px solid white;
}

@media only screen and (max-width: 1366px){
    #register-form{
        width: 60%;
    }
}

@media only screen and (max-width: 480px){
  #register-form{
    padding: 3em 0;
    background: #008283;
    color: #fff;
    text-align: center;
    width: 100%;
  }

  #register-form-buttons  button{
    text-transform: uppercase;
    outline: 0;
    background: #fff;
    width: 30%;
    border: 0;
    padding: 15px;
    margin-right: 1em;
    color: #008283;
    font-size: 14px;
  }

  #register-form-buttons a {
    text-transform: uppercase;
    outline: 0;
    background: #fff;
    border: 0;
    padding: 15px;
    color: #008283;
    font-size: 14px;
    text-decoration: none;
  }

  #register-title{
    text-align: center;
  }
}